@import '../../../styles.scss';

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45ch;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    justify-content: space-between;

    a {
        display: block;
    }
}
svg {
    margin-bottom: 0.5rem;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.attribution {
    text-align: center;
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column;
    }

    .icons {
        display: flex;
        
        a {
            margin-right: 2.5rem;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column;
    }

    .icons {
        display: flex;
        
        a {
            margin-right: 2.5rem;
        }
    }
}
