<div class="header">
        <div class="name" [routerLink]="['']" style="cursor: pointer;">Tanaka Madondo</div>
        <div class="nav-items">
            <nav>
                <a [routerLink]="['about']" routerLinkActive="active" class="link-item">About</a>
                <a [routerLink]="['projects']" routerLinkActive="active" class="link-item">Projects</a>
                 <a [routerLink]="['cv']" routerLinkActive="active" class="link-item">Get CV</a>
            </nav>
        </div>
</div>