@import '../../../styles.scss';

.header {
    max-width: 991px;
    padding-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
}

.name  {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.5rem;
    color: $moderate-blue;
}

nav {
    margin-top: 2rem;

    .link-item {
        text-decoration: none;
        color: $gray;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .link-item:not(:first-child) {
        margin-left: 1.5rem;
    }

    .link-item:hover {
        color: $moderate-blue;
    }

    .active {
        background-color: $moderate-blue;
        color: $white;
        padding: 4px;
        border-radius: 4px;
    }

    .active:hover {
        color: $white;
    }
}

@media (max-width: 400px) {
    .header {
        padding-top: 0.5rem;
    }
    .name {
        font-size: 2.5rem;
    }

    nav {
        .link-item {
            font-size: 1.4rem;
        }
    }
    }