<section>
    <div class="intro">
        <h4>Contact me</h4>
        <p>Eager to collaborate with me, or hire me?</p>
        <p>You can send me a message below, or contact me on <em>+27 67 130 1300</em></p>
    </div>
    <form>
        <div class="details">
            <div class="input-item">
                <label for="">Name
                    <span class="required">*</span>
                </label>
                <input type="text" class="details-input">
            </div>
            <div class="input-item">
                <label for="">Email
                    <span class="required">*</span>
                </label>
                <input type="email" class="details-input">
            </div>
        </div>
        <div class="input-item">
            <label for="">Subject
                <span class="required">*</span>
            </label>
            <input type="text" class="subject-input">
        </div>
        <div class="input-item">
            <label for="">Message
                <span class="required">*</span>
            </label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="btn">
            <button>Send</button>
        </div>
    </form>
</section>