@import '../../../styles.scss';


.about {
    margin-top: 5rem;

    .icons, .intro, h4 {
        margin-bottom: 4rem;
    }

    .connect {
        font-weight: bold;
        color: $dark-blue;
    }

    .icons {
        display: flex;
        justify-content: space-around;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                margin-bottom: 0.5rem;
                width: 30px;
                height: 30px;
                display: block;
            }

            em {
                font-size: 18px;
                color: $gray;
                font-weight: 600;
            }
        }
    }
 
    button:not(:first-child) {
        margin-left: 0.5rem;
    }
}
