@import '../../../styles.scss';


.about {
    margin-top: 5rem;

    .icons, .intro, h4 {
        margin-bottom: 4rem;
    }

    .connect {
        font-weight: bold;
        color: $dark-blue;
    }

    .icons {
        display: flex;
        justify-content: space-around;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            svg {
                margin-bottom: 0.5rem;
                width: 30px;
                height: 30px;
                display: block;
            }
        }
    }
 
    button:not(:first-child) {
        margin-left: 0.5rem;
    }
}

// skills,
span {
    border-radius: 7px;
    background: $very-light-gray;
    padding: 5px;
    font-weight: 600;
    font-size: 1.8rem;
    color: $moderate-blue;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }