<section>
    <h4>Professional and side projects.</h4>
    <p>You may use the filters to catergorize the projects that I have worked on.</p>
</section>
<div class="projects">
    <div class="project">
        <div class="image">
            <img src="../../../assets/images/murder_in_paris_preview.png" alt="">
        </div>
        <div class="description">
            <a>Murder in Paris</a>
            <p>A website for the multi-award winning documentary by South African director, Enver Samuel.</p>
            <div class="tags">
                <span *ngFor="let t of tags"> {{ t }} </span>
            </div>
            <button>
                Live Url
            </button>
            <button>
                Source code
            </button>
        </div>
        
    </div>
</div>