<section>
  <h4>Projects</h4>
  <div class="wrapper">
    <a class="card" *ngFor="let project of projects">
      <div class="title">
        <h1>{{ project.name }}</h1>
      </div>
      <div class="platforms">
        <p style="margin-top: 0">
          Platform(s):
          <span *ngFor="let platform of project.platforms"
            >{{ platform }}
          </span>
        </p>
      </div>
      <div class="description">
        <p>{{ project.description }}</p>
      </div>
      <div class="platforms">
        <p style="margin-top: 0">
          Tags: <span *ngFor="let tag of project.tags">{{ tag }} </span>
        </p>
      </div>
    </a>
  </div>
</section>
