@import '../../../styles.scss';
.projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 4rem;
}

h4 {
    margin-bottom: 2rem;
}

span {
    border-radius: 7px;
    background: hsl(223, 19%, 93%);
    padding: 5px;
    font-weight: 600;
    font-size: 1.8rem;
    color: $moderate-blue;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }

.project {
    width: 100%;
    display: flex;
    background-color: $white;
    border-radius: 7px;
    margin-bottom: 4rem;
    height: max-content;
    width: 100%;
    display: grid;
    column-gap: 2rem;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 7px;
    margin-bottom: 4rem;
    height: max-content;
    grid-template-columns: auto auto auto;

    .image {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;

        img {
            width: inherit;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .description {
        margin-left: 2rem;
        padding-bottom: 2rem;

        a {
            display: inline-block;
            margin-top: 2rem;
            font-size: 3rem;
            color: $dark-blue;
            font-weight: bold;
            cursor: pointer;
        }
        
        a:hover {
            color: $moderate-blue;
        }

        p {
            margin-bottom: 2rem;
          }

        button {
            width: 120px;
            margin-top: 3rem;
        }

    }
    
}