<section>
    <h4>Professional and side projects.</h4>
    <p class="intro">Hover or tap on a card to see the project details. </p>
</section>

<div class="wrapper">
    <div class="card" *ngFor="let project of projects">
        <img *ngIf="project.imageSrc; else svg"
            [src]="'../../../assets/images/'+project.imageSrc+'.png'" 
            alt="">
        <ng-template #svg>
            <img class="placeholder" src="https://images.pexels.com/photos/8833420/pexels-photo-8833420.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </ng-template>
      <div class="info">
        <h4>{{ project.name }}</h4>
        <p> {{ project.description }}</p>
        <p>Platform(s): <span *ngFor="let platform of project.platforms">{{platform}} </span></p>
        <a [routerLink]="[project.id]" class="btn">Project Details</a>
        <a  *ngIf="project.sourceCode"
            [href]="project.sourceCode" 
            target="_blank"
            class="btn" 
            style="margin-left: 10px;">Source code</a>
      </div>
    </div>
  </div>